fastapi
uvicorn
qdrant-client
sentence-transformers
open_clip_torch
torch
torchvision
pandas
pillow
python-multipart
pydantic
datasets
tqdm
matplotlib
python-dotenv
google-generativeai
aiofiles
fpdf2
numpy 
openai